<div>

	<div class="cuadroblanco t"></div>
	<div class="cuadroblanco b"></div>
	<div class="cuadroblanco l"></div>
	<div class="cuadroblanco r"></div>


	<div class="row elementos" style="background-color:#69D2E7">
		<div class="hidden-xs col-xs-6 ajus2">
			<div class="row ajus">
				<div class="hidden-xs col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i1.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i2.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i3.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i4.png" alt=""></div>
					</div>
				</div>
				<div class="hidden-xs col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i5.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i6.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i7.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i8.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs col-xs-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i17.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i18.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i19.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i20.png" alt=""></div>
					</div>
					</div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i21.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i22.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i23.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i24.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="pag_home caminos cam_cel">

		<img class="img_camino" src="../images/i6.png" alt="">
		<div class="row tit_caminos animated fadeIn">
			<div class="col-xs-12">
				<img class="tit_caminos_tit img-responsive center-block" src="../images/enerista_tit.png" alt="">
			</div>
		</div>
		<div class="row text_cam  animated fadeIn">
			<h5>Somos los que salimos con el cotillón puesto, los que disfrutamos primero y estrenamos el hit del verano</h5>
			<div class="animated pulse infinite">
				<a href="" ng-click="enerista()"><img class="btn_camino animated zoomIn" src="../images/voto_enerista.png" alt=""></a>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-9">
				<img class="center-block img-responsive animated fadeIn" src="../images/enerista_md.png" alt="">
			</div>
		</div>
	</section>

	<section class="pag_home caminos cam_nor">
		<div class="row caminos">
			<div class="col-xs-6">
				<img class="center-block img-responsive animated fadeIn" src="../images/enerista_md.png" alt="">
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-5">
				<div class="conte_nor center-block animated fadeIn">
					<div class="row">
						<div class="col-xs-3">
							<img class="im_ft" src="../images/i6.png" alt="">
						</div>
						<div class="col-xs-9">
							<img class="tit_caminos_tit img-responsive" src="../images/enerista_tit.png" alt="">
						</div>
					</div>
					<div class="row text_cam">
						<h5>Somos los que salimos con el cotillón puesto,</h5>
						<h5> los que disfrutamos primero y estrenamos el hit del</h5>
						<h5> verano</h5>
						<span class="voto_camino"> Y tú ¿Eres Enerista?</span>
					</div>
				</div>
				<div class="animated pulse infinite">
					<a href="" ng-click="enerista()"><img class="btn_camino center-block animated  zoomIn" src="../images/voto_enerista.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="row rowabajo" style="background-color:#69D2E7">
				<div class="col-xs-2"></div>
				<div class="col-xs-2-offset col-xs-2">

				</div>
		</div>
  <img class="chale" src="../images/Hawaianas.png" alt="">
	</section>

	<img class="logopronto" src="../images/logo_pronto.png" alt="">

</div>
