
	<div class="cuadroblanco t"></div>
	<div class="cuadroblanco b"></div>
	<div class="cuadroblanco l"></div>
	<div class="cuadroblanco r"></div>


	<div class="row elementos" style="background-color:#ff3d7f">
		<div class="col-xs-6 ajus2">
			<div class="row ajus">
				<div class="hidden-xs col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i9.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i11.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i12.png" alt=""></div>
					</div>
				</div>
				<div class="hidden-xs col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i13.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i14.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i15.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i16.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs col-xs-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i25.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i26.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i27.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i28.png" alt=""></div>
					</div>
					</div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i29.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i30.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i31.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i32.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="pag_home caminos cam_cel">

		<img class="img_camino" src="../images/i27.png" alt="">
		<div class="row tit_caminos animated fadeIn">
			<div class="col-xs-12">
				<img class="tit_caminos_tit img-responsive center-block" src="../images/febrerista_tit.png" alt="">
			</div>
		</div>
		<div class="row text_cam animated fadeIn">
				<h5>Somos los que tenemos festival, celebramos el día de los enamorados y llegamos a marzo con un bronceado fascinante</h5>
				<span class="voto_camino"> Y tú ¿Febrerista?</span>
				<div class="animated pulse infinite">
					<a href="" ng-click="febrerista()"><img class="btn_camino animated zoomIn" src="../images/voto_febrerista.png" alt=""></a>
				</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-9">
				<img class="center-block img-responsive animated fadeIn" src="../images/febrerista_md.png" alt="">
			</div>
		</div>
	</section>

	<section class="pag_home caminos cam_nor">
		<div class="row caminos">
    	<div class="col-xs-5">
				<div class="conte_nor center-block animated fadeIn" style="background-color:#ff3d7f">
					<div class="row">
						<div class="col-xs-3">
							<img class="im_ft" src="../images/i27.png" alt="">
						</div>
						<div class="col-xs-9">
							<img class="tit_caminos_tit img-responsive" src="../images/febrerista_tit.png" alt="">
						</div>
					</div>
					<div class="row text_cam">
						<h5>Somos los que tenemos festival, </h5>
						<h5>celebramos el día de los enamorados y </h5>
						<h5>llegamos a marzo con un bronceado fascinante</h5>
						<span class="voto_camino"> Y tú ¿Febrerista?</span>
					</div>
				</div>
				<div class="animated pulse infinite">
				  <a href="" ng-click="febrerista()"><img class="btn_camino center-block animated zoomIn" src="../images/voto_febrerista.png" alt=""></a>
				</div>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-6">
				<img class="center-block img-responsive animated fadeIn" src="../images/febrerista_md.png" alt="">
			</div>


		</div>
		<div class="row rowabajofeb" style="background-color:#ff3d7f">
				<div class="col-xs-3"></div>
				<div class="col-xs-2">

				</div>
		</div>
	<img  class="chalef" src="../images/hawaiana.png">
	</section>

<img class="logopronto" src="../images/logo_pronto.png" alt="">
