
	<div class="cuadroblanco t"></div>
	<div class="cuadroblanco b"></div>
	<div class="cuadroblanco l"></div>
	<div class="cuadroblanco r"></div>


	<section class="pag_home caminos animated fadeIn">


		<div class="row sep">
			<div class="col-md-3"></div>
			<div class="pilo col-xs-6 col-md-3 rsm">
				<img class="img-responsive irs" src="../images/facebook.png" alt="">
				<span class="rst">prontochile</span>
			</div>
			<div class="pilo col-xs-6 col-md-3 rsm">
				<img class="img-responsive irs" src="../images/insta.png" alt="">
				<span class="rst">prontocopec_cl</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6 bases"><h6>BASES LEGALES</h6></div>
			<div class="col-xs-3"></div>

		</div>

	</section>

	<img class="kafeed1" src="../images/Kajak.png" alt="">
	<img class="estefeed1" src="../images/Estrella.png" alt="">
	<img class="hawafeed1" src="../images/Hawaianas02.png" alt="">
	<img class="quitafeed1" src="../images/Quitasol.png" alt="">
	<img class="caballofeed1" src="../images/Caballo.png" alt="">
	<img class="logopronto" src="../images/logo_pronto.png" alt="">
