
	<div class="cuadroblanco t"></div>
	<div class="cuadroblanco b"></div>
	<div class="cuadroblanco l"></div>
	<div class="cuadroblanco r"></div>


	<div class="row elementos">
		<div class="hidden-xs col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i1.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i2.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i3.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i4.png" alt=""></div>
					</div>
			    </div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i5.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i6.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i7.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i8.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs col-md-6 ajus2">
			<div class="row ajus">
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i9.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i11.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i12.png" alt=""></div>
					</div>
			    </div>
				<div class="col-xs-6 setelement">
					<div class="row setelement">
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i13.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i14.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i15.png" alt=""></div>
						<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i16.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<section id="home" class="pag_home">

		<div class="texto_home j">
			<h3 class="animated bounceInDown">Llegó el momento de definirse</h3>
			<img class="welcome center-block img-responsive animated bounceIn" src="../images/welcome.png" alt="">
			<img class="welcome_cel center-block img-responsive animated bounceIn " src="../images/welcome.png" alt="">
			<h3 class="animated bounceInDown">Vota, inscríbete y participa  por unas vacaciones en <br> San Pedro o La Patagonia</h3>
			<a href="" smooth-scroll-jquery target="eleccion" speed="1000" offset="5"><img src="../images/votaaqui.png" alt="" class="boton center-block animated bounceIn"></a>
		</div>
	</section>

	<section id="eleccion" class="pag_home elec">

		<div class="elec_cel center-block">
			<a href="" ng-click="GoToEnero()"><img class="center-block img-responsive mes_vs"
				when-visible="entrada" src="../images/enerista_md.png"></a>
			<img class="vac center-block img-responsive" src="../images/estas_vacaciones.png" alt="">
			<a href="" ng-click="GoToFebrero()"><img class="center-block img-responsive mes_vs"
				when-visible="entradai" src="../images/febrerista_md.png" alt=""></a>

		</div>

		<div class="elec_nor center-block">
			<div class="row center-block img-responsive"><img class="vac center-block img-responsive" src="../images/estas_vacaciones.png" alt=""></div>
			<div class="row el">
				<div class="col-xs-6">
				<a href="" ng-click="GoToEnero()"><img class="center-block img-responsive vs_nor"
				 when-visible="entradai" src="../images/enerista_md.png" alt=""></a>
		  	</div>
				<div class="col-xs-6">
				<a href="" ng-click="GoToFebrero()"><img class="center-block img-responsive vs_nor"
					when-visible="entrada" src="../images/febrerista_md.png" alt=""></a>

				</div>
			</div>
		</div>

	</section>


	<img class="logopronto" src="../images/logo_pronto.png" alt="">

	<section>

			<div class="cuadroblanco t"></div>
			<div class="cuadroblanco b"></div>
			<div class="cuadroblanco l"></div>
			<div class="cuadroblanco r"></div>


			<section id="feed" class="pag_home caminos animated fadeIn">


				<div class="row sep">
					<div class="col-md-3"></div>
					<div class="pilo col-xs-6 col-md-3 rsm">
						<img class="img-responsive irs" src="../images/facebook.png" alt="">
						<span class="rst">prontochile</span>
					</div>
					<div class="pilo col-xs-6 col-md-3 rsm">
						<img class="img-responsive irs" src="../images/insta.png" alt="">
						<span class="rst">prontocopec_cl</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-6 bases"><h6>BASES LEGALES</h6></div>
					<div class="col-xs-3"></div>

				</div>

			</section> 

			<img class="kafeed" src="../images/Kajak.png" alt="">
			<img class="estefeed" src="../images/Estrella.png" alt="">
			<img class="hawafeed" src="../images/Hawaianas02.png" alt="">
			<img class="quitafeed" src="../images/Quitasol.png" alt="">
			<img class="caballofeed" src="../images/Caballo.png" alt="">
			<img class="logopronto" src="../images/logo_pronto.png" alt="">

	</section>
