<div>

		<div class="cuadroblanco t"></div>
		<div class="cuadroblanco b"></div>
		<div class="cuadroblanco l"></div>
		<div class="cuadroblanco r"></div>


		<div class="row elementos" style="background-color:#ff3d7f">
			<div class="hidden-xs col-xs-6 ajus2">
				<div class="row ajus">
					<div class="col-xs-6 setelement">
						<div class="row setelement">
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i9.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i10.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i11.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i12.png" alt=""></div>
						</div>
					</div>
					<div class="col-xs-6 setelement">
						<div class="row setelement">
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i13.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i14.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i15.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i16.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
			<div class="hidden-xs col-md-6 ajus2">
				<div class="row ajus">
					<div class="col-xs-6 setelement">
						<div class="row setelement">
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i25.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i26.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i27.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i28.png" alt=""></div>
						</div>
				    </div>
					<div class="col-xs-6 setelement">
						<div class="row setelement">
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i29.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i30.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i31.png" alt=""></div>
							<div class="col-xs-3 setelement"><img class="imalog center.block img-responsive" src="../images/i32.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img class="qtsi" src="../images/quitasole.png" alt="">
		<img class="qts i" src="../images/quita_esq.png" alt="">

		<section class="pag_home caminos for cam_cel animated fadeIn">


			<div class="row formu">
				<span class="form f1">Completa este formulario y podrás ganar</span>
				<span class="form f2">VACACIONES EN SAN PEDRO O LA PATAGONIA</span>
			</div>

			<form name="formulo">
				<div class="formulariogen">
					<div class="row pico">
						<div class="marco col-xs-3">
							<img class="imgmar img-responsive" src="../images/CredFebrerista.png" alt="">
						</div>
						<div class="col-xs-9">
							<input class="inip" type="text"  placeholder="NOMBRE" name="nombre" ng-model="formData.nombre"
							 ng-class="{ error: formulo.nombre.$error.required && !formulo.$pristine}" required autocomplete="on">
							<input class="inip" type="email" placeholder="CORREO@ELECTRÓNICO.COM" name="email" ng-model="formData.email"
							ng-class="{ error: formulo.email.$error.required && !formulo.$pristine, error: formulo.email.$error.email}" required autocomplete="on">
							<input class="inip" type="text"  placeholder="12345678-9" ng-rut name="rut" ng-model="formData.rut"
							ng-class="{'succes':formulo.rut.$error.rutValido,'error':!formulo.rut.$error.rutValido}" required autocomplete="on">
							 <!--  !formula.rut.$error.rutValido    -->
							 <select name="region" class="inip"  ng-model="formData.region">
								<option value="" disabled selected>SELECCIONE REGIÓN</option>
								<option ng-repeat="option in region" value="{{option.nombre}}">{{option.nombre}}</option>
							</select>

						</div>
					</div>

					<div class="row pico checkgen">
						<div>
							<input class="cheqb" type="checkbox" ng-model="checkboxModel.value1"><span>Acepto las condiciones establecidas en las Bases Legales del concurso</span>
						</div>
						<div>
							<input class="cheqb" type="checkbox" ng-model="checkboxModel.value2"><span>Acepto que PRONTO me contacte vía correo electrónico</span>
						</div>
					</div>
				</div>
				<div class="row animated pulse infinite">
				<button class="img-responsive center-block btn-enviar animated zoomIn" ng-click="send(formData)" ng-disabled="formulo.$valid">
				<img  style="width:100px;" ng-src="../images/enviar.png"/>
				</button>
				</div>
			</form>
			<div class="row">
				<div class="col-xs-8">
					<img class="foring img-responsive" src="../images/febrerista_md.png" alt="">
				</div>
				<div class="col-xs-4">
					<img class="foringh" src="../images/hawaiana.png" alt="">
				</div>
			</div>
		</section>

		<section class="pag_home caminos cam_nor animated fadeIn">

			<div class="row inscon">
				<div class="col-md-6">
					<div class="row formu">
						<div><span class="form f1">Completa este formulario y podrás ganar</span></div>
						<div><span class="form f2">VACACIONES EN SAN PEDRO O LA PATAGONIA</span></div>

					</div>
					<form name="formula">
							<div class="formulariogen">
							<div class="row pico">
								<div class="marco col-xs-3">
									<img class="imgmar img-responsive" src="../images/CredFebrerista.png" alt="">
								</div>
								<div class="col-xs-9">

							<input class="inip" type="text" placeholder="NOMBRE" name="nombre" ng-model="formData.nombre"
							 ng-class="{ error: formula.nombre.$error.required && !formula.$pristine}" required autocomplete="on">
						 	 <input class="inip" type="email" placeholder="CORREO@ELECTRÓNICO.COM" name="email" ng-model="formData.email"
							 ng-class="{ error: formula.email.$error.required && !formula.$pristine, warning: formula.email.$error.email}" required autocomplete="on">
							 <input class="inip" type="text" ng-rut placeholder="12345678-9"  name="rut" ng-model="formData.rut"
							 ng-class="{'succes':formula.rut.$error.rutValido,'error':!formula.rut.$error.rutValido}" required autocomplete="on">
							 <select name="region"  class="inip"  ng-model="formData.region">
								 <option value="" disabled selected>SELECCIONE REGIÓN</option>
								<option ng-repeat="option in region" value="{{option.nombre}}">{{option.nombre}}</option>
							</select>
						 </div>
							</div>

							<div class="row pico checkgen">
								<div>
									<input class="cheqb" type="checkbox" ng-model="checkboxModel.value1"><span>Acepto las condiciones establecidas en las Bases Legales del concurso</span>
								</div>
								<div>
									<input class="cheqb" type="checkbox" ng-model="checkboxModel.value2"><span>Acepto que PRONTO me contacte vía correo electrónico</span>
								</div>
							</div>
						</div>
						<div class="row animated pulse infinite">
							<button class="img-responsive center-block btn-enviar animated zoomIn" ng-click="send(formData)" ng-disabled="formula.$valid"><img  ng-src="../images/enviar.png"/></button>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<img class="insnor center-block img-responsive" src="../images/febrerista_md.png" alt="">
				</div>

			</div>
			<img class="pico3" src="../images/hawaiana2.png" alt="">
		</section>

		<img class="logopronto" src="../images/logo_pronto.png" alt="">
</div>
